<template>
  <q-page class="flex flex-center dashboard-page fade-in">
    <div class="dashboard-container">
      <div class="credential-title">MI ATUNPA</div>
      <div class="credential-sub-title">Esta es tu credencial digital. Presentala donde la necesites</div>
      <div class="image-container">
        <img :src="cardFront" alt="Card Front" class="card-image" />
        <div class="overlay-text">
          <div>{{ userName }} {{ userLastName }}</div>
          <div>AFILIADO N°: {{ userAffiliate }}</div>
          <div>DNI: {{ userDni }}</div>
          <div>{{ formattedDate }}</div>
        </div>
      </div>
      <img :src="cardBack" alt="Card Back" class="card-image" />
    </div>
  </q-page>
</template>

<script>
import cardFront from 'src/assets/card-front.png';
import cardBack from 'src/assets/card-back.png';

export default {
  name: 'DashboardPage',
  data() {
    return {
      userName: '',
      userLastName: '',
      userAffiliate: '',
      userDni: '',
      userDateFrom: '',
      cardFront,
      cardBack,
    };
  },
  computed: {
    formattedDate() {
      if (!this.userDateFrom) return '';
      const [year, month, day] = this.userDateFrom.split('-');
      const date = new Date(year, month - 1, day); // Restar 1 al mes ya que los meses en JS empiezan desde 0
      return date.toLocaleDateString('es-ES', {
        day: '2-digit',
        month: '2-digit',
        year: 'numeric',
      });
    },
  },
  created() {
    // Comprobar si hay un token en el localStorage
    const token = localStorage.getItem('access_token');
    if (!token) {
      // Redirigir al login si no hay token
      this.$router.push('/');
    } else {
      // Acceder al localStorage para obtener el nombre de usuario
      const user = localStorage.getItem('user');
      if (user) {
        const userData = JSON.parse(user);
        this.userName = userData.name;
        this.userLastName = userData.lastname;
        this.userAffiliate = userData.affiliate_number;
        this.userDni = userData.dni;
        this.userDateFrom = userData.date_until;
      }
    }
  },
};
</script>

<style scoped>
.dashboard-page {
  background-color: #e7e6e6;
}

.dashboard-container {
  text-align: center;
  width: 80%;
  margin-top: -40px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.card-image {
  display: block;
  margin: 10px auto;
  max-width: 100%; /* Ajusta el tamaño máximo al 100% del contenedor */
  max-height: 180px; /* Ajusta el tamaño máximo de la altura */
  height: auto;
  width: auto;
}

.overlay-text {
  position: absolute;
  bottom: 30px;
  left: 18px;
  color: white;
  padding: 2px;
  font-size: 0.8em;
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.overlay-text > div {
  margin-bottom: 2px;
  text-transform: uppercase;
}

.credential-title {
  font-family: 'Inter', sans-serif;
  font-size: 2em;
  color: #1976D2;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: -10px;
}

.credential-sub-title {
  font-family: 'Verdana';
  font-weight: 300;
  letter-spacing: 0.3em;
  width: 90%;
  margin: 15px auto 15px auto;
  font-size: 1rem;
  font-weight: normal;
  color: #1976D2; /* Color negro o el color que prefieras */
  margin-bottom: 10px;
}

/* Animación de fade-in */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    background-color: #a39f9f; /* Fondo blanco al inicio */
  }
  100% {
    opacity: 1;
    background-color: transparent; /* Fondo transparente al final */
  }
}
</style>
