<template>
  <q-page class="flex flex-center dashboard-page fade-in">
    <div class="dashboard-container">
      <div class="greeting">¡Hola, {{ userName }}!</div>

      <div class="card-container" @click="goToCredential">
        <i class="fa-regular fa-address-card card-icon"></i>
        <div class="card-text">
          <div class="card-title">MI ATUNPA</div>
          <div class="card-subtitle">Ver credencial</div>
        </div>
      </div>
      <div class="button-container">
        <div class="button-wrapper">
          <q-btn
            round
            class="action-button"
            flat
            color="grey"
            style="border: 3px solid #1976d2"
            @click="goToDocuments"
          >
            <i class="fa-regular fa-file action-icon"></i>
          </q-btn>
          <div class="button-text">Documentos</div>
        </div>
        <div class="button-wrapper">
          <q-btn
            round
            class="action-button"
            flat
            color="grey"
            style="border: 3px solid #1976d2"
            @click="goToProfile"
          >
            <i class="fa-regular fa-user action-icon"></i>
          </q-btn>
          <div class="button-text">Perfil</div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "DashboardPage",
  data() {
    return {
      userName: "",
    };
  },
  created() {
    // Comprobar si hay un token en el localStorage
    const token = localStorage.getItem("access_token");
    if (!token) {
      // Redirigir al login si no hay token
      this.$router.push("/");
    } else {
      // Acceder al localStorage para obtener el nombre de usuario
      const user = localStorage.getItem("user");
      if (user) {
        this.userName = JSON.parse(user).name;
      }
    }
  },
  methods: {
    goToCredential() {
      this.$router.push({path: "credential"});
    },
    goToDocuments() {
      this.$router.push({path: "documents"});
    },
     goToProfile() {
      this.$router.push({path: "profile"});
    },
  },
};
</script>

<style scoped>
.dashboard-page {
  background-color: #e7e6e6;
  animation: fadeIn 1s ease-in-out forwards;
}
.dashboard-container {
  text-align: center;
  width: 80%;
  margin-top: -100px;
}

.greeting {
  font-family: "Inter", sans-serif;
  color: #1976d2;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 40px;
}

.card-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 3px solid #1976d2;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
  max-width: 300px;
  margin: 0 auto;
}

.card-icon {
  color: grey;
  margin-right: 18px;
  margin-left: 15px;
  font-size: 4em; /* Aumentar tamaño del icono */
}

.card-text {
  text-align: left;
}

.card-title {
  font-family: "Inter", sans-serif;
  font-size: 1.8em;
  color: #1976d2;
  font-weight: 900;
  margin-bottom: -5px;
}

.card-subtitle {
  font-size: 1.2em;
  color: #1976d2;
  font-family: "Verdana";
  font-weight: 300;
  letter-spacing: 0.2em;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button {
  width: 80px;
  height: 80px;
  background-color: #fff;
  margin-right: 15px;
}

.action-icon {
  font-size: 2.5em; /* Tamaño del icono */
}

.button-text {
  margin-top: 10px;
  font-size: 1.2em; /* Tamaño del texto */
  color: #1976d2; /* Color del texto */
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    background-color: white; /* Fondo blanco al inicio */
  }
  100% {
    opacity: 1;
    background-color: transparent; /* Fondo transparente al final */
  }
}
</style>
